<html>
  <head>
    <title>Portland Doctor Lookup</title>
  </head>
  <body>
    <div class="container">
      <h1>Find a doctor now!</h1>
      <label for="docName">Search by name:</label>
      <input id="docName" type="text">
      <button class="btn-success" id="nameSearch">Get results!</button>
      <label for="condition">Search by medical condition:</label>
      <input id="condition" type="text">
      <button class="btn-success" id="conditionSearch">Get results!</button>
      <div class="showErrors"></div>
      <div class="showDoctors"><ul></ul></div>
      <div class="noDoctors"></div>
    </div>
  </body>
</html>
